---
title: 記事
permalink: /article
---


{% assign tag_names = "" | split: "|" %}
{% for posts_by_tag in site.tags %}
{% if posts_by_tag.first == "article" %}
{% assign tag_names = tag_names | push:
posts_by_tag.first %}
{% endif %}
{% endfor %}
{% assign tag_names = tag_names |
sort %}


<h1>{{ page.title }}</h1>

上の方が最新投稿！

<section class="posts-by-tags">
  {% for tag_name in tag_names %}
  <!-- <hr /> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    {% for post in site.tags[tag_name] %}
    <div class="memo">
      <a class="memo-title" href="{{ post.url | prepend: baseurl }}">{{ post.title | replace: " ", "-" }}</a>
      <div class="memo-date">{{ post.date | date: "%Y-%m-%d %a" }}</div>
      <div class="memo-contents">{{ post.excerpt }}</div>
      <!-- <hr /> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</section>