---
title: コラム
permalink: /column
---

{% assign tag_names = "" | split: "|" %} {% for posts_by_tag in site.tags %} {%
if posts_by_tag.first == "column" %} {% assign tag_names = tag_names | push:
posts_by_tag.first %} {% endif %} {% endfor %} {% assign tag_names = tag_names |
sort %}

<section class="posts-by-tags">
  {% for tag_name in tag_names %}
  <h1>{{ page.title }}</h1>
  <p>メモ的なのをここに投げるよ！（短文でツイッターみたいな使い方したい）</p>
  <div>
    {% for post in site.tags[tag_name] %}
    <div class="column">
      <a class="column-title" href="{{ post.url | prepend: baseurl }}"
        >{{ post.title | replace: " ", "-" }}</a
      >
      <div class="column-date">{{ post.date | date: "%Y-%m-%d %a" }}</div>
      <div class="column-contents">{{ post.excerpt }}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</section>
