.right-column,
.left-column {
    display: none;
}

.center-column {
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

.menu-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 90;
    // background-color: #3584bb;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #0500ff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}



#menu-btn-check:checked~.menu-btn span {
    background-color: transparent;
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #F9F9F4;
    transition: opacity 0.5s;
    /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    opacity: 1;

    /*メニューを画面内へ*/
    .marquee-area {
        position: fixed;
        bottom: 32px;
        right: -1px;
        width: 100%;
    }

    .left-column {
        display: block;
        top: 100px;
        width: auto;
        text-align: right;
        color: #0500ff;

        .nav {
            padding-left: 0;
        }


        position: fixed;
        right: 16px;
        top: 100px;

        .marquee {
            animation: marquee 12s linear infinite;
            min-width: 100%;

        }
    }

}