.menu-content,
.credit .marquee {
    display: none;
}

.right-column {
    display: none;
}

.center-column {
    padding-left: 27%;
}


.left-column {
    display: inline;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 42%;
}