.menu-content {
    display: none;
}

.right-column {
    display: none;
}

.center-column {
    padding-left: 18rem;
    padding-right: 1rem;
}


.left-column {
    display: inline;
    height: 100%;
    width: 16rem;
    position: fixed;
    top: 42%;
    padding-left: 1em;
}