.menu-content {
    display: none;
}

.right-column {
    display: none;
}

.center-column {
    padding-left: 27%;
    padding-right: 1rem;
}


.left-column {
    display: inline;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 42%;
    padding-left: 1em;
}