.menu-content {
    display: none;
}


.right-column {
    display: inline;
    width: 18rem;
    font-size: 0.7rem;
    height: 100%;
    position: fixed;
    right: 0;
}

.center-column {
    padding-right: 20rem;
    width: auto;
    padding-left: 27%;
}

.left-column {
    display: inline;
    height: 100%;
    width: 24%;
    position: fixed;
    top: 42%;
    padding-left: 1em;
}

.footer-info {
    display: none;
}