.menu-content {
    display: none;
}

.right-column {
    // position: fixed;
    display: inline;
    width: 16%;
    font-size: 0.65rem;
    height: 100%;
    position: fixed;
    right: 0;
}

.left-column {
    display: inline;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 42%;
}

.center-column {
    padding-right: 25%;
    padding-left: 27%;
}