// 変数の定義
$main-color: #0500ff;
$background-color: rgba(250, 250, 245, 0.88);
$index-background-color: #8e8e8e;
$font-family: "Noto Sans JP", "Noto Emoji", sans-serif;
$font-size: 15px;
$font-weight: 450;

// リセットCSS
body {
  margin: 0;
}

// スマホ向け
body:not(:has(.index)) {
  position: relative;
  background-color: $background-color;
  overflow-x: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 60% 35%;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
    pointer-events: none;
  }
}

body:has(.index) {
  position: relative;
  background-color: $index-background-color;
  overflow-x: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/ミァハイラスト - トリミング.png");
    background-position: 60% 35%;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgba(250, 250, 245, 0.88);
    background-blend-mode: lighten;
    z-index: -1;
    pointer-events: none;
  }
}

// メインスタイル
body {
  color: $main-color;
  line-height: 1.1em;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-optical-sizing: auto;
}

// 要素のデフォルト設定
a:visited {
  color: $main-color;
}

hr {
  border: none;
  border-top: 1px solid $main-color;
  margin: 1em auto;
}

// 記事の設定
h1 {
  font-weight: 900;
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1rem;
}

ul {
  list-style-type: "-   ";
  margin-bottom: 0.5em;
}

pre {
  border: solid 1px;
  padding: 0.25rem;
  width: 90%;
  margin: 0.25rem auto;
  white-space: pre-wrap;
  font-size: 0.9rem;
}


// 画像の設定
div.right-column img {
  filter: sepia(100%) hue-rotate(201.2deg) brightness(101%) contrast(125%) saturate(450%);
  width: auto;
  max-height: 1rem;
}

// 画像の拡大縮小設定
div.center-column img {
  filter: sepia(100%) hue-rotate(201.2deg) brightness(101%) contrast(125%) saturate(450%);
  max-width: 50%;
  transition: max-width 0.5s ease;
}

div.center-column img:hover {
  filter: none;
  max-width: 100%;
}

// 全体の設定
.menu-btn {
  display: none;
}

.nav {
  font-size: 0.9rem;
}

.credit {
  font-size: 0.7rem;
  font-weight: 300;
  position: fixed;
  padding: 3px;
  bottom: 0.25rem;
  left: 0.5rem;
  max-width: 80%;
  padding-right: 3em;
  z-index: 2;
}

.center-column {
  padding-top: 14%;
  padding-bottom: 5%;
}

.content {
  padding-bottom: 30%;
}

.footer {
  padding: 3px;
  font-size: 0.7rem;
}

.where {
  padding: 3px;
  position: fixed;
  top: 2%;
}

.random {
  position: fixed;
  padding: 3px;
  bottom: 4%;

  * {
    margin: 0 !important;
    border: none;
    line-height: 1.15em;
    text-align: justify;
    padding-right: 0.5%;
    font-size: 0.7rem;
  }

  .random-title {
    line-height: initial;
    font-weight: 600;
    font-size: 0.9rem;
  }

  img {
    width: 100%;
  }

  .random-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 30;
    line-clamp: 30;
  }
}

.logo img {
  height: 2em;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

// post
.post-meta {
  text-align: right;
  font-size: 0.7rem;
}

// コラムの設定
.memo hr {
  margin: 4em 0;
}

.memo-title {
  font-weight: 700;
}

.memo-date {
  float: right;
  font-size: 0.7em;
}

.memo-contents {
  line-height: 1.4rem;
  margin: 0.5rem 0;

  hr {
    width: 90%;
    margin: 0.25rem auto;
  }

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  // 行数変更用
  // -webkit-line-clamp: 20;
  // line-clamp: 20;

}

// タグページ
.posts-by-tags {
  line-height: 1.4em;
}

// トップページ
.index {
  font-size: 12em;
  line-height: 100%;
  font-weight: 100;
  word-break: break-all;
  text-align: justify;
}

// 疑似marquee
// .marqueeでマーキー対象を指定
// {{どのマーキーか指定}} .marqueeで文字数分マーキーエリアを指定
.left-column .marquee {
  min-width: 110%;
  animation: marquee 6s linear infinite;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
}

.marquee-area {
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
  }
}

// レスポンシブ・デザイン
@media (max-width: 844px) {
  @import "1-column";
}

@media (min-width: 845px) {
  @import "2-column";
}

@media (min-width: 1300px) {
  @import "3-column";
}